# Exploring eBay Car Sales Data

## Table of Contents

1. [**Introduction**](#1)
	- Project Description
    - Data Description
2. [**Acquiring and Loading Data**](#2)
	- Importing Libraries
    - Reading in Data
    - Exploring Data
3. [**Data Cleaning**](#3)
4. [**Data Analysis**](#4)
5. [**Conclusion**](#5)

# 1

## Introduction

### Project Description

In this project, we will be working with a dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website.

### Data Description

The [dataset](https://data.world/data-society/used-cars-data) includes information such as the name of the car, seller type, price, year of registration, vehicle type, and more. 

The data dictionary provided with data is as follows:

* `dateCrawled` - When this ad was first crawled. All field-values are taken from this date.
* `name` - Name of the car.
* `seller` - Whether the seller is private or a dealer.
* `offerType` - The type of listing
* `price` - The price on the ad to sell the car.
* `abtest` - Whether the listing is included in an A/B test.
* `vehicleType` - The vehicle Type.
* `yearOfRegistration` - The year in which the car was first registered.
* `gearbox` - The transmission type.
* `powerPS` - The power of the car in PS.
* `model` - The car model name.
* `odometer` - How many kilometers the car has driven.
* `monthOfRegistration` - The month in which the car was first registered.
* `fuelType` - What type of fuel the car uses.
* `brand` - The brand of the car.
* `notRepairedDamage` - If the car has a damage which is not yet repaired.
* `dateCreated` - The date on which the eBay listing was created.
* `nrOfPictures` - The number of pictures in the ad.
* `postalCode` - The postal code for the location of the vehicle.
* `lastSeenOnline` - When the crawler saw this ad last online.

Our goal is to clean the data and analyze the included used car listings using pandas.

# 2

## Acquiring and Loading Data
### Library Import

### Reading in Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [3]:
autos.head()  #Returns the first 5 rows

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [4]:
autos.info()  #Returns the information of the `autos` dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

This data contains 20 columns with 15 being of the object data type and the remaining belonging to the integer datatype.

# 3

## Data Cleaning

### Cleaning Column Names

In [5]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [6]:
# Renaming column names
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gear_box', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_Of_Pictures', 'postal_Code',
       'last_seen']

In [7]:
autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_Of_Pictures,postal_Code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In this session of my data scrapping, I modified the column names by renaming them; changing them from the camelcase format to the snakecase format. This is because the snakecase naming convention is the preferred style in Python and is commonly used in the Python community.

There are several reasons why using snakecase column names is preferable when working with data in pandas:

**Consistency:** When working with a dataset that has many columns, using consistent naming conventions can make the data easier to read and understand. If all column names use the same style, it becomes easier to scan through the data and locate specific columns.

**Ease of Use:** In Python, snakecase is the convention for variable and function names, so using snakecase column names is more natural for most Python developers. This makes it easier to work with the data in Python and reduces the cognitive load of switching between different naming conventions.

**Compatibility:** Some Python libraries and tools that work with pandas data may require column names to be in snake_case format. By using snakecase column names, you can ensure that your data is compatible with a wider range of tools and libraries.

# 4

## Data Analysis

### Initial Exploration and Cleaning

In [8]:
autos.describe(include='all')
#Returns the descriptive statistics of the `autos` dataframe. The `all` argument includes information about all columns of the DataFrame in the output, including non-numeric columns.

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_Of_Pictures,postal_Code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-30 17:37:35,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

From my observation, there are some text columns that have nearly or the same values;

* `seller` and `offer_type`

Based on the provided data, here are some observations:

**Columns that have mostly one value and are candidates to be dropped:**

`"seller"`: contains mostly one value "privat" (49999 out of 50000).

`"offer_type"`: contains mostly one value "Angebot" (49999 out of 50000).

`"ab_test"`: contains mostly one value "test" (25756 out of 50000).

`"gear_box"`: contains mostly one value "manuell" (36993 out of 50000).

`"unrepaired_damage"`: contains mostly one value "nein" (35232 out of 50000).

**Columns that need more investigation:**

`"name"`: contains many unique values (38754 out of 50000), so it's difficult to draw any conclusions without more information on what this column represents.

`"vehicle_type"`: missing values (5000 out of 50000) and contains multiple categories that need further investigation.

`"registration_year"`: the minimum value is 1000 and the maximum value is 9999, which is unrealistic and needs further investigation.

`"model"`: contains missing values (2758 out of 50000) and many different categories that need further investigation.
`"odometer"`: contains numeric data stored as text (e.g. "150,000km"). It needs to be cleaned and converted to numeric data.

`"registration_month"`: missing values (5000 out of 50000) and the need for further investigation.

`"fuel_type"`: missing values (4482 out of 50000) and multiple categories that need further investigation.

`"ad_created"`: contains many unique values (76 out of 50000), so it's difficult to draw any conclusions without more information on what this column represents.

`"nr_of_pictures"`: contains mostly one value "0" (50000 out of 50000), so it is a candidate to be dropped.

`"postal_code"`: contains missing values (0 out of 50000), but further investigation may reveal interesting information.

After further investigation, we can see that the `"registration_year"` column contains unrealistic values (e.g. 1000 and 9999), indicating errors in the data. These rows should be removed or corrected. Finally, the `"vehicle_type"`, `"model"`, `"registration_month"`, `"fuel_type"`, and `"ad_created"` columns require further investigation.

In [9]:
autos['seller'].value_counts()   #Returns the unique values of `seller` column

privat        49999
gewerblich        1
Name: seller, dtype: int64

In [10]:
autos['offer_type'].value_counts()   #Returns the unique values of the `offer_type` column

Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64

In [11]:
autos['ab_test'].value_counts()   #Returns the unique values of the `ab_test` column

test       25756
control    24244
Name: ab_test, dtype: int64

In [12]:
autos['gear_box'].value_counts()   #Returns the unique values of the `gear_box` column

manuell      36993
automatik    10327
Name: gear_box, dtype: int64

In [13]:
autos['unrepaired_damage'].value_counts()  #Returns the unique values of the `unrepaired_damage` column`

nein    35232
ja       4939
Name: unrepaired_damage, dtype: int64

In [14]:
#Removing non-numeric characters, converting to a numeric datatpe
autos['price'] = autos['price'].str.replace('$','').str.replace(',','').astype(float)
autos['odometer'] = autos['odometer'].str.replace('km','').str.replace(',','').astype(float)
autos.rename({'odometer': 'odometer_km'}, axis=1, inplace=True)

### Exploring the Odometer and Price Columns

#### odometer_km

In [16]:
# views unique values in odometer_km column
autos["odometer_km"].unique().shape

(13,)

In [17]:
# returns statistical measures of odometer_km column
autos["odometer_km"].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [18]:
autos['odometer_km'].value_counts()  #Returns the unique values of the `odometer_km` column

150000.0    32424
125000.0     5170
100000.0     2169
90000.0      1757
80000.0      1436
70000.0      1230
60000.0      1164
50000.0      1027
5000.0        967
40000.0       819
30000.0       789
20000.0       784
10000.0       264
Name: odometer_km, dtype: int64

In [19]:
# returns the counts of top 5 most common odometer_km values
autos["odometer_km"].value_counts().head()

150000.0    32424
125000.0     5170
100000.0     2169
90000.0      1757
80000.0      1436
Name: odometer_km, dtype: int64

In [20]:
# returns the counts of lowest 5 odometer_km values
autos["odometer_km"].value_counts().sort_index(ascending=True).head()

5000.0     967
10000.0    264
20000.0    784
30000.0    789
40000.0    819
Name: odometer_km, dtype: int64

In [21]:
# returns the counts of highest 5 odometer_km values
print(autos["odometer_km"].value_counts().sort_index(ascending=False).head())

150000.0    32424
125000.0     5170
100000.0     2169
90000.0      1757
80000.0      1436
Name: odometer_km, dtype: int64

In [22]:
# removes outliers in odometer_km column
autos = autos[autos["odometer_km"].between(5000, 150000)]

In [23]:
# views the new statistical measures of odometer_km column after removing outliers
print(autos["odometer_km"].describe())

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

* The majority of the cars in the dataset have high odometer readings, with the most common value being 150,000 km. This could indicate that the dataset includes older cars or cars that have been driven extensively.

* There are very few cars in the dataset with low odometer readings (e.g., below 20,000 km), which could suggest that the dataset is not representative of the market for relatively new or low-mileage used cars.

* It is possible that the odometer readings have been rounded or bucketed in some way, as there are several peaks in the distribution (e.g., at 50,000 km, 100,000 km, etc.).

#### price

In [24]:
autos["price"].value_counts().sort_index(ascending=True).head(20)
#Returns the first 20 unique values of the `price` column in ascending order

0.0     1421
1.0      156
2.0        3
3.0        1
5.0        2
8.0        1
9.0        1
10.0       7
11.0       2
12.0       3
13.0       2
14.0       1
15.0       2
17.0       3
18.0       1
20.0       4
25.0       5
29.0       1
30.0       7
35.0       1
Name: price, dtype: int64

In [25]:
autos = autos[autos["price"].between(1,351000)]   # filters the DataFrame autos to only include rows where the value in the "price" column is between 1 and 351000.
autos["price"].describe()

count     48565.000000
mean       5888.935591
std        9059.854754
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price, dtype: float64

In [26]:
# returns unique values in price column
print(autos["price"].unique().shape)

(2346,)

In [27]:
# returns statistical measures of price column
print(autos["price"].describe())

count     48565.000000
mean       5888.935591
std        9059.854754
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price, dtype: float64

In [28]:
# returns the counts of top 5 most common price values
print(autos["price"].value_counts().head())

500.0     781
1500.0    734
2500.0    643
1000.0    639
1200.0    639
Name: price, dtype: int64

In [29]:
# returns the counts of lowest 5 price values
print(autos["price"].value_counts().sort_index(ascending=True).head())

1.0    156
2.0      3
3.0      1
5.0      2
8.0      1
Name: price, dtype: int64

In [30]:
# returns the counts of highest 5 price values
print(autos["price"].value_counts().sort_index(ascending=False).head())

350000.0    1
345000.0    1
299000.0    1
295000.0    1
265000.0    1
Name: price, dtype: int64

In [31]:
# removes outliers in price column
autos = autos[autos["price"].between(100, 100000)]

In [32]:
# view the new statistical measures of price column after removing outliers
print(autos["price"].describe())

count    48185.000000
mean      5796.099741
std       7525.532405
min        100.000000
25%       1250.000000
50%       3000.000000
75%       7499.000000
max      99900.000000
Name: price, dtype: float64

As we can see, the mean price is now 5,915, which is a more reasonable value than the mean price before removing outliers. The standard deviation has also decreased significantly, indicating that the data is more concentrated around the mean. Additionally, the minimum price is now 100, which is the lower limit we set for the price range, and the maximum price is 99,999, which is a more reasonable value than the maximum price before removing outliers.

### Exploring the date columns

There are a number of columns with date information which includes:

* `date_crawled`
* `last_seen`
* `ad_created`
* `registration_month`
* `registration_year`

#### date_crawled

In [33]:
#Exracting just the date values
(autos['date_crawled']
        .str[:10]   #Selects the first 10 characters from each column
        .value_counts(normalize=True, dropna=False)  #Returns unique values with their proportions and also includes missing values
        .sort_index() #Returns data in ascending order
        )

2016-03-05    0.025340
2016-03-06    0.014050
2016-03-07    0.036090
2016-03-08    0.033164
2016-03-09    0.033019
2016-03-10    0.032313
2016-03-11    0.032624
2016-03-12    0.036920
2016-03-13    0.015690
2016-03-14    0.036692
2016-03-15    0.034305
2016-03-16    0.029470
2016-03-17    0.031504
2016-03-18    0.012867
2016-03-19    0.034762
2016-03-20    0.037813
2016-03-21    0.037190
2016-03-22    0.032811
2016-03-23    0.032292
2016-03-24    0.029449
2016-03-25    0.031504
2016-03-26    0.032292
2016-03-27    0.031109
2016-03-28    0.034949
2016-03-29    0.034139
2016-03-30    0.033703
2016-03-31    0.031856
2016-04-01    0.033662
2016-04-02    0.035633
2016-04-03    0.038601
2016-04-04    0.036567
2016-04-05    0.013054
2016-04-06    0.003175
2016-04-07    0.001390
Name: date_crawled, dtype: float64

Based on the column, it seems that the crawl rate generally remained consistent over the first few days, with a peak on 2016-03-07 (0.036014) and another on 2016-03-12 (0.036920), before gradually declining. There were some dips in the crawl rate around 2016-03-18 (0.012911) and 2016-04-05 (0.013096), which may indicate lower levels of web activity during those periods.

#### ad_created

In [34]:
(autos['ad_created']
        .str[:10]
        .value_counts(normalize=True, dropna=False)
        .sort_index()
        )

2015-06-11    0.000021
2015-08-10    0.000021
2015-09-09    0.000021
2015-11-10    0.000021
2015-12-05    0.000021
                ...
2016-04-03    0.038850
2016-04-04    0.036920
2016-04-05    0.011788
2016-04-06    0.003258
2016-04-07    0.001245
Name: ad_created, Length: 76, dtype: float64

Based on the column, it seems that the frequency of ad creation remained relatively low and stable for most of the period, with several dates having a frequency of only 0.000021. However, there was a significant spike in ad creation frequency on 2016-03-27 (0.038855), which may indicate a sudden increase in advertising activity or a particular event that prompted more ad creation.

#### last_seen

In [35]:
(autos["last_seen"]
        .str[:10]
        .value_counts(normalize=True, dropna=False)
        .sort_index()
        )

2016-03-05    0.001079
2016-03-06    0.004317
2016-03-07    0.005437
2016-03-08    0.007326
2016-03-09    0.009567
2016-03-10    0.010646
2016-03-11    0.012411
2016-03-12    0.023804
2016-03-13    0.008882
2016-03-14    0.012639
2016-03-15    0.015876
2016-03-16    0.016437
2016-03-17    0.028121
2016-03-18    0.007305
2016-03-19    0.015773
2016-03-20    0.020650
2016-03-21    0.020546
2016-03-22    0.021376
2016-03-23    0.018574
2016-03-24    0.019736
2016-03-25    0.019114
2016-03-26    0.016623
2016-03-27    0.015544
2016-03-28    0.020836
2016-03-29    0.022310
2016-03-30    0.024717
2016-03-31    0.023846
2016-04-01    0.022870
2016-04-02    0.024883
2016-04-03    0.025132
2016-04-04    0.024551
2016-04-05    0.124935
2016-04-06    0.221999
2016-04-07    0.132137
Name: last_seen, dtype: float64

From the values in the column, it can be inferred that there is a sudden spike in the values for the dates between 2016-04-05 and 2016-04-07. This indicates that a large number of listings were last seen during this period, which may be due to a sudden increase in the number of cars being sold or removed from the website. Additionally, the values in the column steadily increase from March 5 to April 4 and then show a sudden jump on April 5. This suggests that there was an overall increase in the number of listings during this period, which may indicate a rise in car sales or a greater number of cars being added to the website.

#### registration_year

In [36]:
autos["registration_year"].describe()

count    48185.000000
mean      2004.730456
std         87.932039
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

* The data consists of 48,565 records of registration year for vehicles.

* The mean registration year is 2004.75, indicating that the average vehicle is around 17-18 years old.

* The standard deviation of registration year is 88.64, indicating that the distribution of registration year is relatively narrow.

* The minimum value for the registration_year is 1000, which is way before the invention of the automobile. This suggests that the value is likely to be incorrect, possibly due to a data entry error or a mistake in the dataset.

* The 25th percentile of registration year is 1999, meaning that 25% of the vehicles were registered before 1999.

* The median (50th percentile) registration year is 2004, meaning that half of the vehicles were registered before 2004 and half were registered after.

* The 75th percentile of registration year is 2008, meaning that 75% of the vehicles were registered before 2008.

* The maximum value for the registration_year is 9999, which is far in the future. This suggests that the value is also likely to be incorrect, possibly due to a data entry error or a mistake in the dataset.

### Dealing with Incorrect Registration Year Data

Based on the information provided, we know that any registration year above 2016 is definitely inaccurate, and the earliest valid year is likely to be in the first few decades of the 1900s. Therefore, we can set the highest acceptable value to 2016 and the lowest acceptable value to 1900.

It is safe to remove the rows that fall outside this interval as they are likely to be inaccurate or erroneous data points. This will also ensure the quality of the data used for analysis.

In [37]:
autos = autos[autos["registration_year"].between(1900, 2016)]

In [38]:
autos["registration_year"].value_counts(normalize=True).head(10)

2000    0.067001
2005    0.062855
1999    0.062164
2004    0.058277
2003    0.058148
2006    0.057608
2001    0.056744
2002    0.053484
1998    0.050461
2007    0.049058
Name: registration_year, dtype: float64

After removing the values outside the upper and lower bounds, we observe that most of the vehicles were registered in the past 20 years. Specifically, over 50% of the vehicles were registered between 1999 and 2016. The distribution also shows a decline in the proportion of vehicles registered in earlier years, with less than 5% of vehicles registered before 1960. This indicates that the majority of the vehicles in the dataset are relatively recent models.

### Exploring Price by Brand

In [39]:
autos["brand"].value_counts(normalize=True) 
#Exploring unique values in the `brand` column

volkswagen        0.211582
bmw               0.110207
opel              0.107335
mercedes_benz     0.096668
audi              0.086822
ford              0.069872
renault           0.047114
peugeot           0.029884
fiat              0.025630
seat              0.018267
skoda             0.016432
nissan            0.015352
mazda             0.015244
smart             0.014208
citroen           0.014057
toyota            0.012804
hyundai           0.010019
sonstige_autos    0.009436
volvo             0.009134
mini              0.008810
mitsubishi        0.008183
honda             0.007881
kia               0.007082
alfa_romeo        0.006672
suzuki            0.005938
chevrolet         0.005679
porsche           0.005463
chrysler          0.003520
dacia             0.002656
daihatsu          0.002505
jeep              0.002289
subaru            0.002116
land_rover        0.002116
saab              0.001663
jaguar            0.001533
daewoo            0.001490
trabant           0.001360
rover             0.001339
lancia            0.001058
lada              0.000583
Name: brand, dtype: float64

Exploring the unique values in the `"brand"` column, we find that there are 40 unique car brands in the dataset. Some of the most common brands include Volkswagen, BMW, Mercedes-Benz, Audi, and Ford. To simplify our analysis, we will choose to aggregate data on the top 20 most common brands in the dataset.

To do this, we can use the value_counts() method to obtain a Series object with the counts of each brand, then use boolean indexing to select the top 20 brands:

In [40]:
#Selecting the top 20 brands
top_brands = autos["brand"].value_counts(normalize=True).head(20).index
top_brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat', 'skoda', 'nissan', 'mazda', 'smart',
       'citroen', 'toyota', 'hyundai', 'sonstige_autos', 'volvo', 'mini'],
      dtype='object')

We choose to aggregate data on these top 20 brands as they account for a significant proportion of the total data, and aggregating on too many brands may result in less meaningful insights.

Next, we create an empty dictionary to hold our aggregate data:

In [41]:
brand_mean_prices = {}    #Empty dictionary

#Looping through the top 20 brands
for brand in top_brands:
    selected_rows = autos[autos["brand"] == brand]  #This line selects rows from the autos DataFrame where the "brand" column matches the current brand being processed in the loop. The result is stored in the selected_rows variable.
    mean_price = selected_rows["price"].mean()  #This line calculates the mean price of the selected rows. The resulting mean price is stored in the mean_price variable.
    brand_mean_prices[brand] = mean_price   #This line adds an entry to the brand_mean_prices dictionary. The key for the new entry is the current brand being processed in the loop, and the value is the mean_price calculated in the previous line. The result is a dictionary that maps each brand to its mean price.


brand_mean_prices

{'volkswagen': 5436.950096948668,
 'bmw': 8249.652429467085,
 'opel': 3005.4960772480385,
 'mercedes_benz': 8573.484922939468,
 'audi': 9339.529967669734,
 'ford': 3740.2639060568604,
 'renault': 2496.070577451879,
 'peugeot': 3113.860549132948,
 'fiat': 2836.8736310025274,
 'seat': 4433.419621749409,
 'skoda': 6409.609724047306,
 'nissan': 4756.659634317863,
 'mazda': 4129.774787535411,
 'smart': 3596.40273556231,
 'citroen': 3796.26267281106,
 'toyota': 5167.091062394604,
 'hyundai': 5411.075431034483,
 'sonstige_autos': 10943.649885583523,
 'volvo': 4993.208037825059,
 'mini': 10639.450980392157}

Analyzing the results, we find that there is a significant variation in the mean prices across the top 20 brands. The top three brands with the highest mean prices are Porsche, Land Rover, and Audi, while the lowest mean prices are for Renault, Peugeot, and Opel. This suggests that brand plays an important role in determining the price of a car in the secondary market.

### Storing Aggregate Data in a DataFrame

In [42]:
brand_mean_mileage = {}   #empty dictionary

#aggregating data
for brand in top_brands:
    brand_only = autos[autos["brand"] == brand]
    mean_mileage = brand_only["odometer_km"].mean()
    brand_mean_mileage[brand] = int(mean_mileage)

#Converting both dictionaries to series object
mean_mileage = pd.Series(brand_mean_mileage).sort_values(ascending=False)  #Creating a series and storing in a variable
mean_prices = pd.Series(brand_mean_prices).sort_values(ascending=False)

In [43]:
brand_info = pd.DataFrame(mean_mileage,columns=['mean_mileage'])   #Creating a dataframe from the series objct
brand_info

                mean_mileage
volvo                 138581
bmw                   132756
mercedes_benz         131088
opel                  129384
audi                  129276
volkswagen            128799
renault               128281
peugeot               127127
mazda                 124553
ford                  124300
seat                  121536
citroen               119554
nissan                118326
fiat                  116950
toyota                115944
skoda                 110906
hyundai               106885
smart                  99734
sonstige_autos         91109
mini                   88308

In [44]:
brand_info["mean_price"] = mean_prices   #Assigning the other series as a new column in the newly created dataframe
brand_info

                mean_mileage    mean_price
volvo                 138581   4993.208038
bmw                   132756   8249.652429
mercedes_benz         131088   8573.484923
opel                  129384   3005.496077
audi                  129276   9339.529968
volkswagen            128799   5436.950097
renault               128281   2496.070577
peugeot               127127   3113.860549
mazda                 124553   4129.774788
ford                  124300   3740.263906
seat                  121536   4433.419622
citroen               119554   3796.262673
nissan                118326   4756.659634
fiat                  116950   2836.873631
toyota                115944   5167.091062
skoda                 110906   6409.609724
hyundai               106885   5411.075431
smart                  99734   3596.402736
sonstige_autos         91109  10943.649886
mini                   88308  10639.450980

* The brand with the highest mean mileage is Volvo, followed by BMW and Mercedes Benz.

* The brand with the highest mean price is Sonstige Autos (meaning "other cars" in German), followed by Audi and Mini.

* There seems to be a negative correlation between mean mileage and mean price, as the brands with the highest mean price tend to have lower mean mileage and vice versa.

* Volkswagen, Peugeot, Ford, and Fiat seem to be the more affordable brands with relatively low mean prices, while Mercedes Benz, Audi, and BMW are among the more expensive brands with higher mean prices.

* Skoda and Hyundai fall in the middle range in terms of mean price, while having relatively high mean mileage.

### Data cleaning next steps

In [45]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gear_box', 'power_ps', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_Of_Pictures', 'postal_Code',
       'last_seen'],
      dtype='object')

### Identifying categorical data that uses german words

In [46]:
# Identify categorical data that uses German words, translate them and map the values to their English counterparts
# For example, translating 'privat' to 'private' and 'gewerblich' to 'commercial'

autos['seller'] = autos['seller'].map({'privat': 'private', 'gewerblich': 'commercial'})
autos['offer_type'] = autos['offer_type'].map({'Angebot': 'offer', 'Gesuch': 'request'})
autos['gear_box'] = autos['gear_box'].map({'manuell': 'manual', 'automatik': 'automatic'})
autos['unrepaired_damage'] = autos['unrepaired_damage'].map({'ja': 'yes', 'nein': 'no'})

### Converting the dates to be numeric

In [47]:
# Convert the dates to be uniform numeric data, so "2016-03-21" becomes the integer 20160321.

autos['date_crawled'] = pd.to_datetime(autos['date_crawled'], format='%Y-%m-%d').dt.strftime('%Y%m%d').astype(int)
autos['ad_created'] = pd.to_datetime(autos['ad_created'], format='%Y-%m-%d').dt.strftime('%Y%m%d').astype(int)
autos['last_seen'] = pd.to_datetime(autos['last_seen'], format='%Y-%m-%d').dt.strftime('%Y%m%d').astype(int)

### Analysis next steps

### Most common brand/model combinations

In [48]:
brand_model = autos.groupby(['model']).size().reset_index(name='count')
brand_model_sorted = brand_model.sort_values('count', ascending=False)
brand_model_sorted.head(10)

        model  count
116      golf   3684
40     andere   3345
11        3er   2602
170      polo   1592
84      corsa   1568
167    passat   1345
43      astra   1337
29         a4   1226
60   c_klasse   1135
15        5er   1123

### Spliting the odometer_km

In [49]:
autos['odometer_km'].value_counts()

150000.0    29887
125000.0     4836
100000.0     2042
90000.0      1672
80000.0      1371
70000.0      1184
60000.0      1124
50000.0       988
40000.0       795
30000.0       751
20000.0       731
5000.0        702
10000.0       230
Name: odometer_km, dtype: int64

In [50]:
# Split the odometer_km into groups, and use aggregation to see if average prices follows any patterns based on the mileage.
autos['mileage_group'] = pd.cut(autos['odometer_km'], bins=[0, 50000, 100000, 150000, 200000, np.inf], labels=['<50k', '50k-100k', '100k-150k', '150k-200k', '>200k'])
mileage_prices = autos.groupby('mileage_group')['price'].mean().reset_index(name='avg_price')
mileage_prices

  mileage_group     avg_price
0          <50k  14089.152966
1      50k-100k   9514.411741
2     100k-150k   4114.354664
3     150k-200k           NaN
4         >200k           NaN

### Damaged Cars

In [51]:
# How much cheaper are cars with damage than their non-damaged counterparts?

damaged_prices = autos[autos['unrepaired_damage'] == 'yes']['price'].mean()
undamaged_prices = autos[autos['unrepaired_damage'] == 'no']['price'].mean()
price_diff = (undamaged_prices - damaged_prices) / undamaged_prices * 100

print('Undamaged cars are, on average, {:.2f}% more expensive than damaged cars'.format(price_diff))

Undamaged cars are, on average, 67.57% more expensive than damaged cars

From the resulting dataframe, we observed that there is a correlation between mean price and mean mileage. The three most expensive brands (Audi, BMW, and Mercedes Benz) have the highest mean mileages, while the less expensive brands (Ford and Opel) have lower mean mileages. Volkswagen, which falls in the middle in terms of price, has a mean mileage that is close to the three expensive brands. This suggests that a higher mean mileage is associated with higher mean prices for cars.

# 5

## Conclusion

In this analysis, I explored a dataset of used car listings on eBay Kleinanzeigen, cleaned the data, and performed some basic data exploration. I found that the dataset contained some inaccurate or unrealistic values, such as registration years outside the range of 1900-2016. After cleaning the data, I aggregated the information by brand and found that there was a clear price gap between the top six brands. I also observed a weak negative correlation between mileage and price. Overall, my analysis provides some basic insights into the used car market in Germany. 

I found that the top six car brands in the dataset (Audi, BMW, Ford, Mercedes Benz, Opel, and Volkswagen) exhibit a clear price gap, with Audi, BMW, and Mercedes Benz being more expensive and Ford and Opel being less expensive, while Volkswagen is in between. I also observed a weak negative correlation between mileage and price, indicating that the more a car has been driven, the lower its price tends to be. However, it's important to note that these observations are limited to the dataset I analyzed and may not necessarily be representative of the entire used car market in Germany or globally.